<%- include('../header') %>

<div class="main-panel" style="font-family: 'Courier New', Courier, monospace;">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card align-items-center">
                <div class="title-box col-md-6 p-0">
                    <h2 class="card-title mb-0" style="font-size: 30px;">Add Product Category</h2>
                </div>
                <div class="btn p-0 col-md-6 d-flex justify-content-end">
                    <a href="/tableproduct" class="btn btn-primary">View Product Category</a>
                </div>
            </div>

            <div class="container">
                <form class="forms-sample px-4" method="post" action="/productadd" enctype="multipart/form-data">

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <select name="category" class="form-control form-control-sm">
                                <option>---Select Category---</option>
                                <% category.map((cat)=> { %>
                                <option value="<%= cat.id %>"><%= cat.category %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <select name="subcategory" class="form-control form-control-sm">
                                <option>---Select Subcategory---</option>
                                <% subcategory.map((sub)=> { %>
                                <option value="<%= sub.id %>"><%= sub.subcategory %></option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <select name="excategory" class="form-control form-control-sm">
                                <option>---Select Extra Category---</option>
                                <% excategoroy.map((ex)=> { %>
                                <option value="<%= ex.id %>"><%= ex.excategory %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <input type="text" name="title" class="form-control form-control-sm" placeholder="Enter Title">
                        </div>

                        <div class="form-group col-md-4">
                            <input type="text" name="price" class="form-control form-control-sm" placeholder="Enter Price">
                        </div>

                        <div class="form-group col-md-4">
                            <input type="text" name="qty" class="form-control form-control-sm" placeholder="Enter Quantity">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <textarea class="form-control form-control-sm" id="description" name="description"
                                placeholder="Enter Description" rows="8"></textarea>
                        </div>

                        <div class="form-group col-md-4">
                            <div class="file-input-box">
                                <input class="form-control form-control-sm" type="file" id="image" name="image" style="height: 100%;">
                            </div>
                        </div>
                        
                    </div>

                    <div class="form-row">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button type="button" class="btn btn-light ml-2" style="background-color: rgb(240, 235, 228);">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- content-wrapper ends -->
</div>

<%- include('../footer') %>
